[project]
	description = Vagrant is a tool for building and distributing working environments.
[access "refs/*"]
	owner = group user/yufei (yufei)
[access "refs/for/refs/*"]
	read = group user/yufei (yufei)
	push = group user/yufei (yufei)
	label-Code-Review = -2..+2 group user/yufei (yufei)
	label-Verified = -1..+1 group user/yufei (yufei)
	rebase = group user/yufei (yufei)
	removeReviewer = group user/yufei (yufei)
	submit = group user/yufei (yufei)
[access "refs/heads/*"]
	read = group user/yufei (yufei)
	create = group user/yufei (yufei)
	push = +force group user/yufei (yufei)
	pushMerge = group user/yufei (yufei)
[access "refs/tags/*"]
	push = +force group user/yufei (yufei)
	pushTag = group user/yufei (yufei)
	pushSignedTag = group user/yufei (yufei)
